@import "../../App.scss";

.contact{
    height: 100%;
    max-width: 2066px;
    backdrop-filter: blur(10px);
    margin: 60px auto;
    display: flex;
    align-items: center;
    padding: 20px ;
    gap: 50px;

    @include mobile{
        width: 100%;
        padding: 10px;
        flex-direction: column;
}
    @include tablet{
        width: 100%;
        padding: 10px;
        flex-direction: column;
}


    .textContainer{
        flex: 1; 
        display: flex;
        flex-direction: column;
        color: #fff;
        gap: 40px;

        @include mobile{
            gap: 20px;
            text-align: center;
            align-items: center;
            margin-top: 70px;
    }
        @include tablet{
            gap: 20px;
            text-align: center;
            align-items: center;
            margin-top: 70px;
    }


        h1{
            font-size: 50px;
            line-height: 88px;
            color: #fff;

            @include mobile{
                font-size: 36px;
        }
            @include tablet{
                font-size: 36px;
        }
      

            span{
                font-weight: 300;
            }
           
        }
    }

    .formContainer{
        flex: 1;
        position: relative;
        width: 100%;
        
        border-radius: 5px;

        @include mobile{
            width: 100%;
            padding: 50px;
    }
        @include tablet{
            width: 100%;
            padding: 50px;
    }
   


        form{
        display: flex;
        flex-direction: column;
        
        gap: 20px;

        input,textarea{
            padding: 20px;
            background-color: #fff;
            border: 1px solid #fff;
            font-size: 20px;
            color: #b78032;
            border-radius: 5px;

            @include mobile{
                padding: 10px;    
        }
            @include tablet{
                padding: 10px;    
        }
       
        }

        button{
            padding: 20px;
            background-color:orange;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-weight: 500;

            @include mobile{
                padding: 10px;
        }
            @include tablet{
                padding: 10px;
        }
  
        }
    }
    }
}