@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body {
  background: url('../public/background.jpg') no-repeat ;
  background-size: cover;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

  
  @mixin mobile{
    @media (max-width: 738px){
        @content;
    }
}

@mixin tablet{
    @media (max-width: 1024px){
        @content;
    }
}

@mixin desktop{
    @media (min-width: 1366px){
        @content;
    }
}